<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Live wallpaper feature declaration -->
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Wallpaper Service -->
        <service
            android:name=".service.LifeCalendarService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <!-- Midnight Update Receiver -->
        <receiver
            android:name=".service.MidnightReceiver"
            android:exported="false" />

        <!-- Main Settings Activity (launcher) -->
        <activity
            android:name=".settings.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Custom Color Picker Activity -->
        <activity
            android:name=".settings.CustomColorActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />



        <!-- Momentum Wallpaper Service -->
        <service
            android:name=".service.DayCounterService"
            android:label="Momentum"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/day_counter_wallpaper" />
        </service>

    </application>

</manifest>
